@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zain:wght@200;300;400;700;800;900&display=swap');

body {
    background-color: rgb(25, 25, 25);
    color: aliceblue;
    font-family: "Nunito Sans", serif;
}

nav {
    position: sticky;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

nav > ul {
    font-family: "Nunito Sans", serif;
    font-weight: 600;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 16px;
    text-transform: uppercase;
}
nav > ul > li > a {
    color: aliceblue;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

nav > ul > li > a:hover {
    color: rgb(235, 155, 5);
    text-decoration: none;
}

.mu {
    height: calc(100vh - 80px);
}
